*{
    margin: 0;
    padding: 0
}
ul{
    list-style: none;
}
.hidden{display: block;
    position: absolute;
    z-index: 10;
    left: -1000%;
    width: 1px;
    height: 1px;
    overflow: hidden;
    color: #fff}
/******/

#content{
    width: 600px;
    margin: 0 auto;
    margin-top: 50px;
    padding: 50px;
    box-shadow: 5px 5px 10px 1px rgb(0 0 0 / 20%);
}
#content h1{
    margin-bottom: 40px;
}
#content h1 a{
    display: block;
    text-indent: -9999px;
    width: 204px;
    height: 46px;
    background: url(../images/mainLogo2.png);
    margin: 0 auto;
}
#content #title{
    margin-bottom: 40px
}
#content #title p{
    text-align: center;
}
#content fieldset{
    border:none;
    width: 100%;
    box-sizing: border-box;
}
#content fieldset #name{
    width: 99.2%;
    height: 50px;
    margin-bottom: 30px;
    border:1px solid #d5d5d5;
    font-size: 1.1em;
    text-align: center;
}
#content fieldset #name:focus{
    outline: none;
}
#content fieldset .telBox{
    margin-bottom: 30px;
}
#content fieldset .telBox select,
#content fieldset .telBox input{
    height: 50px;
    width: 179.5px;
    border:1px solid #d5d5d5;
    text-align: center;
    font-size: 1.2em;
}
#content .find{
    width: 100%;
    height: 50px;
    border: none;
    background: rgb(1, 52 ,128);
    color: #fff;
    font-size: 1.1em;
    margin-bottom: 25px;
    cursor: pointer;
}
#content .go{
    margin-bottom: 30px;
}
#content .go li:nth-child(1) a{
    display: block;
    width: 99.7%;
    text-align: center;
    height: 50px;
    line-height: 50px;
    background-color: #d5d5d5;
    text-decoration: none;
    color: #333;
    font-weight: 600;
}
#content .finishArea{
    display: flex;
    justify-content: center
}
#content #join_button,
#content .pwFindArea{
    width: 20%;
    text-align: center;
    height: 20px;
}

#content #join_button a,
#content .pwFindArea a{
    text-decoration: none;
    color: #666;
}
#content #join_button a:hover,
#content .pwFindArea a:hover{
    color: rgb(1, 52 ,128);
    font-weight: 600;
}



/* 결과 알림창 */
#loadtext{
    text-align: center;
}
#loadtext dl dt{
    margin-bottom: 10px;
}
#loadtext dl dd{
    margin-bottom: 15px;
}
